@page
@model ProyectoArqSoft.Pages.MedicamentoModel
@{
}

<h2>Medicamentos en Stock</h2>

<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="filtro" class="form-control" placeholder="Buscar por nombre, clasificación o presentación..." value="@Model.Estado.FiltroActual" />
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a asp-page="Medicamento" class="btn btn-secondary">Limpiar</a>
    </div>
</form>

<div>
    <a asp-page="MedicamentoCreate" class="btn btn-primary">Nuevo Medicamento</a>
</div> 

@if (!string.IsNullOrEmpty(Model.Estado.Mensaje)) { <div class="alert alert-success">@Model.Estado.Mensaje</div> }
@if (!string.IsNullOrEmpty(Model.Estado.MensajeError)) { <div class="alert alert-danger">@Model.Estado.MensajeError</div> }


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre del medicamento</th>
            <th>Presentación</th>
            <th>Clasificación</th>
            <th>Concentración</th>
            <th>Precio</th>
            <!--<th>Fecha de Registro</th>-->
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.MedicamentoDataTable.Rows)
        {
            <tr>
                <td>@row["nombre"]</td>
                <td>@row["presentacion"]</td>
                <td>@row["clasificacion"]</td>
                <td>@row["concentracion"]</td>
                <td>@row["precio"]</td>
                <td>
                    <form method="post" asp-page="MedicamentoUpdate" asp-page-handler="CargarMedicamentoParaEdicion" style="display:inline;">
                        <input type="hidden" name="id" value="@row["id_medicamento"]" />
                        <button type="submit" class="btn btn-warning btn-sm">Editar</button>
                    </form>

                    <form method="post" asp-page-handler="EliminarMedicamentoLogicamente" style="display:inline;">
                        <input type="hidden" name="id" value="@row["id_medicamento"]"/>
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>

                </td>
            </tr>
        }


    </tbody>
</table>
