@page
@model ProyectoArqSoft.Pages.MedicamentoCreateModel
@{
}

<h2>Nuevo Medicamento</h2>

<form method="post" asp-page-handler="CrearMedicamento"\>
    <div class="form-group">
        <label>Nombre:</label>
        <input asp-for="@Model.Nombre" class="form-control" required/>
    </div>

    <div class="form-group">
        <label>Presentación:</label>
        <input asp-for="@Model.Presentacion" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Clasificación:</label>
        <input asp-for="@Model.Clasificacion" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Concentración:</label>
        <input asp-for="@Model.Concentracion" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Precio:</label>
        <input asp-for="@Model.Precio" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Stock:</label>
        <input asp-for="@Model.Stock" class="form-control" required />
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Estado.MensajeError))
    {
    <div class="alert alert-danger">@Model.Estado.MensajeError</div>
    }
    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
    <a asp-page="Medicamento" class="btn btn-secondary mt-2">Volver</a>

</form>
